extends layout 

block content 
    h1= title 

    form(method='POST' action='')
        div.form-group
            label(for='name') Name: 
            input#name.form-control(type='text' placeholder='Name of the Anime' name='name' required='true' value=(undefined===anime ? '': anime.name))
        div.form-group
            label(for='description') Description:
            textarea#description.form-control(type='textarea' placeholder='Description of the anime' name='description' required='true') #{undefined===anime ? '' : anime.description}
        div.form-group
            label(for='poster') Poster:
            input#poster.form-control(type='text' placeholder='Poster URL' name='poster' value=(undefined===anime ? '' : anime.poster) required='true')
        div.form-group
            label(for='genre') Genre: 
            input#genre.form-conrol(type='text' placeholder='Shounen, Ecchi, Isekai...' name='genre' value=(undefined===anime ? '': anime.genre) required='true')
        button.btn.btn-primary(type='submit') Submit 

    if errors 
        ul 
            for error in errors 
                li != error.msg